<!-- index.html -->
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_index.css') }}">
<div class="row">
    <div class="col-md-3">
        <h3>Dashboard</h3>
        <a href="{{ url_for('add_product') }}" class="btn btn-primary mb-3">Add Product</a>
        <form action="{{ url_for('make_sale') }}" method="get">
            <button type="submit" class="btn btn-primary mb-3">Make Sale</button>
        </form>
        <form action="{{ url_for('sales') }}" method="post">
            <button type="submit" class="btn btn-primary mb-3">Sales</button>
        </form>
        <div class="col-md-3">
            <a href="{{ url_for('invoices') }}" class="btn btn-primary mb-3">Invoices</a>
        </div>
    </div>
    <div class="col-md-9">
        <h1 class="mb-4">Product Inventory</h1>
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search products...">
            <button class="btn btn-primary" type="button" id="searchButton">Search</button>
        </div>
        <div class="input-group mb-3">
            <input type="text" id="barcodeInput" class="form-control" placeholder="Scan product barcode..." autofocus>
        </div>
        <div class="input-group mb-3">
            <button id="addDataButton" class="btn btn-success">Add Data to Database</button>
        </div>
        <div class="table-responsive" id="productTableContainer">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Category</th>
                        <th scope="col">Total Quantity</th>
                        <th scope="col">Total Buying Price</th>
                        <th scope="col">Total Selling Price</th>
                        <th scope="col">Total Profit</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="productTableBody">
                    {% for category_item, group in grouped_products.items() %}
                    {% set formatted_code = category_item|replace(' ', '_')|replace('-', '_') %}
                    <tr>
                        <td>{{ category_item.split(' - ')[1] }}</td>
                        <td>{{ category_item.split(' - ')[0] }}</td>
                        <td>{{ group.total_quantity }}</td>
                        <td>{{ group.total_buying_price }}</td>
                        <td>{{ group.total_selling_price }}</td>
                        <td>{{ group.total_profit }}</td>
                        <td>
                            <button class="btn btn-info toggle-button" data-code="{{ formatted_code }}">Expand</button>
                        </td>
                    </tr>
                    <tr id="items_{{ formatted_code }}" class="nested-table-container d-none">
                        <td colspan="7">
                            <!-- Nested table will be populated here by JS -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="noResultsMessage" class="alert alert-info d-none" role="alert">No results found.</div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}
