{% extends "base.html" %}

{% block content %}
    <div class="row">
        <!-- Sidebar menu -->
        <div class="col-md-3">
            <h3>Dash board</h3>
            <!-- Add Product button -->
            <a href="{{ url_for('add_product') }}" class="btn btn-primary mb-3">Add Product</a>
        </div>
        
        <!-- Main section -->
        <div class="col-md-9">
            <h1 class="mb-4">Product Inventory</h1>
            <!-- Add a search input field -->
            <div class="input-group mb-3">
                <input type="text" id="searchInput" class="form-control" placeholder="Search products...">
                <button class="btn btn-primary" type="button" id="searchButton">Search</button>
            </div>
            <!-- Add a div to contain the table -->
            <div id="productTableContainer">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Code</th>
                            <th scope="col">Item</th>
                            <th scope="col">Type/Material</th>
                            <th scope="col">Size</th>
                            <th scope="col">Color</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody id="productTableBody">
                        {% for product in products %}
                            <tr>
                                <th scope="row">{{ product.id }}</th>
                                <td>{{ product.code }}</td>
                                <td>{{ product.item }}</td>
                                <td>{{ product.type_material }}</td>
                                <td>{{ product.size }}</td>
                                <td>{{ product.color }}</td>
                                <td>{{ product.description }}</td>
                                <td>${{ product.price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{{ url_for('update_product', id=product.id) }}">Update</a>
                                    <a class="btn btn-danger" href="{{ url_for('delete_product_by_id', id=product.id) }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- No results message -->
                <div id="noResultsMessage" style="display: none;">No results found.</div>
            </div>
        </div>
    </div>
{% endblock %}
