{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_index.css') }}">
<div class="row">
    <div class="col-md-3">
        <h3>Dashboard</h3>
        <a href="{{ url_for('add_product') }}" class="btn btn-primary mb-3">Add Product</a>
        <form action="{{ url_for('make_sale') }}" method="get">
            <button type="submit" class="btn btn-primary mb-3">Make Sale</button>
        </form>
        <form action="{{ url_for('sales') }}" method="post">
            <button type="submit" class="btn btn-primary mb-3">Sales</button>
        </form>
        <div class="col-md-3">
            <a href="{{ url_for('invoices') }}" class="btn btn-primary mb-3">Invoices</a>
        </div>
    </div>
    <div class="col-md-9">
        <h1 class="mb-4">Product Inventory</h1>
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search products...">
            <button class="btn btn-primary" type="button" id="searchButton">Search</button>
        </div>
        <div class="input-group mb-3">
            <input type="text" id="barcodeInput" class="form-control" placeholder="Scan product barcode..." autofocus>
        </div>
        <div class="table-responsive" style="display: block; max-height: 650px; overflow-y: auto;" id="productTableContainer">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Type/Material</th>
                        <th scope="col">Size</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category Quantity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="productTableBody">
                    {% for product in products %}
                    <tr>
                        <td>{{ product.item }}</td>
                        <td>{{ product.type_material }}</td>
                        <td>{{ product.size }}</td>
                        <td>KSh {{ product.price }}</td>
                        <td>{{ product.total_quantity }}</td>
                        <td>
                            <button class="btn btn-info toggle-button" 
                                    data-item="{{ product.item }}"
                                    data-type-material="{{ product.type_material }}"
                                    data-size="{{ product.size }}"
                                    data-price="{{ product.price }}">
                                <img src="{{ url_for('static', filename='dropdown-list.ico') }}" alt="List" style="width: 20px;">
                            </button>
                            <a href="{{ url_for('update_product', code=product.code) }}" class="btn btn-warning btn-sm">Update</a>
                            <form action="{{ url_for('delete_product', code=product.code) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <tr id="items_{{ product.item.replace(' ', '_') }}" class="nested-table-container d-none">
                        <td colspan="6">
                            <!-- Nested items will be loaded here dynamically -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="noResultsMessage" class="alert alert-info d-none" role="alert">No results found.</div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}
