{% extends "base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">Welcome to Our Business!</h1>
            <p class="lead">Explore our products and services.</p>
            <img src="business_image.jpg" class="img-fluid rounded mx-auto d-block" alt="Business Image">
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Login or Register</h3>
                        <div class="text-center mb-4">
                            <p>If you already have an account, please login.</p>
                            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login</a>
                        </div>
                        <hr>
                        <div class="text-center">
                            <p>If you don't have an account yet, please register.</p>
                            <a href="{{ url_for('register') }}" class="btn btn-success btn-lg">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
